

*{
    box-sizing: border-box;
}

form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
}
    body{
    width: 600px;
    margin: auto;
}

button{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
