* {
    box-sizing: border-box;
}

body{
    background: #356a9e;
    color: white;
}
fieldset{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.row{
    display: flex;
    gap: 0.25rem
}

input[type=number]{
    width: 50px;
}

.row label:first-child {
    width: 180px;
    text-align: right;
    padding-right: 1rem;
}

button{
    border: 1px solid black;
    padding: 0.5rem;
    width: 25%;
    margin: 0.5rem;
}