* {
    box-sizing: border-box;
}
body{
    max-width: 800px;
    margin: auto;
}
form{
    display: flex;
    flex-direction: column;
}

input[type='text']{
    width: 30%;
}

.korstSection{
    display: flex;
    align-items: start;
    gap: 1rem;
    margin: 1rem 0;
}

.toppingsSection {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 1rem 0;
}

.toppingsSection > div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.opmerkingenSection{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 1rem 0;
}

label{
    font-weight: bold;
}

.toppingsSection  label{
    font-weight: normal;

}
button{
    border: 1px solid black;
    padding: 0.5rem;
    width: 50%;
}